/*<nav>
        <div class="midIcons">
            <div class="icon"><i class="fas fa-home"></i></div>
            <div class="icon"><i class="fas fa-users"></i></div>
            <div class="icon"><i class="fas fa-cog"></i></div>
        </div>
        <div class="rightIcons">
            <div class="profileMini">
                <img src="../assets/img/defaultAvatar.png" alt="profilePic">
                <span>CartoonGuy</span>
            </div>
            <div class="notifications">
                <div class="icon"><i class="fas fa-bell"></i></div>
            </div>
            <div class="dropdown">
                <div class="icon"><i class="fas fa-caret-down"></i></div>
            </div>
        </div>
</nav>*/

nav {
    width: 100%;
    height: 65px;
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.midIcons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midIcons .icon {
    color: var(--icons);
    font-size: 32px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.midIcons .icon:hover>.label {
    opacity: 1;
}

.rightIcons {
    display: flex;
    position: absolute;
    right: 0px;
    z-index: 998;
}

.rightIcons .icon {
    margin-right: 10px;
    background-color: var(--color3);
    height: 55px;
    width: 55px;
    border-radius: 55px;
    box-shadow: var(--bar_boxShadow);
    color: var(--icons);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
}

.rightIcons .dropdownOpen i {
    transition: 0.2s;
}

.rightIcons .dropdownOpen.active i {
    transform: rotate(180deg);
}

.rightIcons .profileMini {
    display: flex;
    align-items: center;
    background-color: var(--color3);
    height: 55px;
    border-radius: 55px;
    box-shadow: var(--bar_boxShadow);
    margin-right: 10px;
    overflow: hidden;
    padding-left: 7px;
}

.rightIcons .profileMini span {
    color: var(--text);
    font-size: 16px;
    margin: 10px;
    font-weight: 500;
    letter-spacing: 2px;
}

.midIcons .icon .label {
    color: var(--text);
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: var(--color3);
    font-size: 16px;
    padding: 3px 15px 3px 15px;
    position: absolute;
    transform: translateY(15px) translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
}

.rightIcons .dropdown .content {
    right: 5px;
    top: 70px;
    position: absolute;
    background-color: var(--color4);
    padding: 10px;
    border-radius: 9px;
    min-width: 275px;
}

.rightIcons .dropdown .content .profile {
    display: flex;
    margin-bottom: 10px;
}

.rightIcons .dropdown .content .profile .text {
    display: flex;
    flex-direction: column;
    color: var(--text);
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--text);
    opacity: 0.6;
    margin: 1em 0;
    padding: 0;
}


/*
 <div class="settings">
                        <div class="thumbnail">
                            <span><i class="fas fa-cog"></i> Settings</span>
                        </div>
                        <div class="elements">
                            <span>Change Nickname</span>
                            <span>Change Password</span>
                            <span>Change Avatar</span>
                        </div>
                    </div>*/

.rightIcons .dropdown .content {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: 0.2s;
    z-index: 998;
}

.rightIcons .dropdown .content.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%);
}

.rightIcons .dropdown i {
    color: var(--icons);
}

.rightIcons .dropdown .content .settings {
    color: var(--text);
    transition: 0.2s background;
}

.rightIcons .dropdown .content .settings .thumbnail {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    letter-spacing: 2px;
}

.rightIcons .dropdown .content .settings .thumbnail span {
    font-weight: 600;
}

.rightIcons .dropdown .content .settings .elements {
    display: flex;
    flex-direction: column;
}

.rightIcons .dropdown .content .settings .elements a {
    color: var(--text);
    text-decoration: none;
}

.rightIcons .dropdown .content .operations button {
    width: 90%;
    background-color: transparent;
    color: var(--text);
    border: none;
    border-radius: 8px;
    height: auto;
    text-align: left;
    font-size: 19px;
    cursor: pointer;
    transition: 0.2s;
}

.rightIcons .dropdown .content .operations button:hover {
    transform: translateX(10px);
    color: var(--color5);
}

.loader {
    width: 100%;
    height: 100%;
    background: var(--color2);
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.loader .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .content span {
    display: block;
    width: 40px;
    height: 40px;
    background: var(--loader-icons);
    margin: 10px;
    border-radius: 50%;
    animation: loaderAnim 0.6s infinite ease-in-out;
}

.loader .content span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader .content span:nth-child(3) {
    animation-delay: 0.4s;
}

.changePopup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--fog);
    opacity: 0;
    top: 0;
    pointer-events: none;
    transition: 0.2s;
}

.changePopup .content {
    width: 300px;
    height: 150px;
    background: var(--color2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.changePopup .close {
    font-size: 26px;
    color: var(--text);
    cursor: pointer;
    position: absolute;
    right: 15PX;
    top: 15px;
}

.changePopup.active {
    opacity: 1;
    pointer-events: all;
}

.changePopup .content span {
    font-size: 23px;
    color: var(--text);
}

.changePopup .content button {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background-color: var(--color4);
    color: var(--text);
    margin-top: 10px;
    font-size: 16px;
}

.changePopup .content input {
    width: 240px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: var(--color4);
    color: var(--text);
    padding: 10px;
}

@keyframes loaderAnim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.notifications {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.notification {
    width: 400px;
    height: 90px;
    background: var(--color3);
    color: var(--text);
    border-radius: 7px;
    padding: 3px;
    transition: 0.2s;
    animation: notificationShow 0.2s ease-in-out;
    z-index: 9999;
    margin-top: 9px;
}

.notification .thumbnail {
    color: #1e1d1e;
    font-size: 1.2rem;
    -webkit-text-stroke: 1px var(--text);
}

div.hide {
    animation: notificationHide 0.3s ease-in-out;
}

@keyframes notificationShow {
    0% {
        transform: translateX(-100%);
    }
}

@keyframes notificationHide {
    100% {
        transform: translateX(-100%);
    }
}

.bodyContent {
    height: calc(100% - 65px);
    transform: translateY(65px);
    overflow-y: scroll;
}

.rightIcons .profileMini img {
    width: 45px;
}

.avatar {
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    cursor: pointer;
}

.avatar40 {
    width: 40px;
    height: 40px;
}

.avatar40 img {
    width: 40px;
    height: 100%;
    max-height: 40px;
    object-fit: cover;
}

.avatar45 {
    width: 45px;
    height: 45px;
}

.avatar45 img {
    width: 45px;
    height: 100%;
    max-height: 45px;
    object-fit: cover;
}

.avatar50 {
    width: 50px;
    height: 50px;
}

.avatar50 img {
    width: 50px;
    height: 100%;
    max-height: 50px;
    object-fit: cover;
}

.avatar120 {
    width: 120px;
    height: 120px;
}

.avatar120 img {
    width: fit-content;
    height: 100%;
    max-height: 120px;
    object-fit: cover;
}

.ver {
    z-index: 99999;
    display: flex;
    color: var(--text);
    align-items: center;
    position: absolute;
    left: 20px;
}

.ver span:nth-child(1) {
    font-weight: 600;
}

.ver .beta {
    border: 2px var(--text) solid;
    border-radius: 5px;
    padding: 0px 5px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-left: 5px;
    font-size: 13px;
}