.base {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text);
    font-size: 21px;
    top: 30%;
}

.base button {
    width: 120px;
    height: 40px;
    color: var(--text);
    font-size: 21px;
    font-weight: 600;
    background-color: var(--color3);
    border: 2px var(--text) solid;
    margin: 10px;
    border-radius: 6px;
    transition: 0.2s;
}

.base button:hover {
    margin-left: 0px;
    margin-right: 0px;
    width: 140px;
}

.base .link {
    transform: skew(-6deg);
    opacity: 0.5;
}