.noIdError {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color3);
    color: var(--text);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 27px;
}

.noIdError .thumbnail {
    color: var(--color5);
    width: 504px;
    font-weight: 700;
    font-size: 31px;
    z-index: 9999;
    letter-spacing: 2px;
}

.noIdError .content {
    font-weight: 600;
}